/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image-path: url("../images/cover-image-dark.png");
  --main-bg-color: #000028;
  --accent-color: #ff0070;
  --decorated-color: #ff0070;
  --menu-color: #ff0070;
  --menu-color-transparent: #ff007066;
  --main-font: "IBM Plex Mono", monospace;
  --main-font-size: 18px;
  --title-font-color: #db00ff;
  --section-title-color: #ff0070;
  --title-decor-font-color: #000028;
  --text-font-color: #f1b2ce;
}

.theme-dark .header__rec {
  display: block;
}

